
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- /Meta -->

    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <title>Main page</title>
</head>
<body>
<div class="container">
    <div th:switch="${user}">
        <h2 th:case="null">No info found!</h2>
        <div th:case="*">
            <h1>Пользователь</h1>
            <ul>
                <li>Name: <p th:text="${user.name}"></p></li>
                <li>Password: <p th:text="${user.password}"></p></li>
                <li><p>Карточки: </p></li>
                <p th:each="card : ${card}" th:text="${card.headline}"></p>
                <p><a class="button" href="/card-create">Добавить карточку</a></p>
            </ul>
        </div>
    </div>
    <input type="submit" onclick="javascript:history.back(); return false;" value="Отменить">
</div>
</body>
</html>