<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create user</title>
</head>
    <body>
    <p><h1>Новый пользователь</h1></p>
        <form action="#" th:action="@{/user-create}" th:object="${user}" method="post">
            <p>
                <label for="firstName">First name</label>
                <input type="text" th:field="*{name}" id="firstName" placeholder="First Name">
            </p>

            <p>
                <label for="lastName">Last name</label>
                <input type="password" th:field="*{password}" id="lastName"  placeholder="Last Name">
            </p>

            <p>
                <input type="submit" value="Создать" />
                <input type="submit" onclick="javascript:history.back(); return false;" value="Отменить">
            </p>
        </form>
    </body>
</html>