<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <title>Update user</title>
</head>
    <body>

        <div class="container">
            <p><h1>Обновить данные пользоватедя</h1></p>
            <form action="#" th:action="@{/user-update}" th:object="${user}" method="post">
                <input type="hidden" th:field="*{id_user}" name="id_user" id="id_user">
                <p>
                    <label for="name">Имя пользователя</label>
                    <input type="text" th:value="*{name}" name="name" id="name" placeholder="Имя">
                </p>

                <p>
                    <input type="submit" value="Обновить" />
                    <input type="submit" onclick="javascript:history.back(); return false;" value="Отменить">
                </p>
            </form>

        </div>
    </body>
</html>